.chat-group-form
  %h1 チャットグループ編集
  %form#edit_chat_group_22.edit_chat_group{"accept-charset" => "UTF-8", :action => "/chat_groups/22", :method => "post"}
  = form_for(@group) do |f|
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "_method", :type => "hidden", :value => "patch"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "U5ABp0/UobRQTSwsR0V40bX1w3t0rZ0CTqrVyLecD+L6sdhBRO/gVcKy7w/Rgxnc7Hf0Ts39996dal3to5fTag=="}/
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :グループ名, class:"chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, class:"chat-group-form__input",placeholder: " グループ名を入力してください"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class:"chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
            = b.label { b.check_box + b.text }
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバー,class:"chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          = render partial: "member" , collection: @group.users
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit :保存 ,class:"chat-group-form__action-btn"
